
 <div *ngIf="hero">
      <h2> Details</h2>
      <div>
          <label>documento:
            <input [(ngModel)]="hero.numeroDocumento" placeholder="documento">
          </label>
      </div>

      <div>
          <label>nombres:
            <input [(ngModel)]="hero.nombres" placeholder="nombres">
          </label>
      </div>

      <div>
          <label>apellidos:
            <input [(ngModel)]="hero.apellidos" placeholder="apellidos">
          </label>
      </div>

      <div>
          <label>Telefono:
            <input [(ngModel)]="hero.telefono" placeholder="telefono">
          </label>
      </div>

      <div>
          <label>celular:
            <input [(ngModel)]="hero.celular" placeholder="celular">
          </label>
      </div>  
  </div>
  <button (click)="goBack()">Volver</button>