<h2>My Heroes</h2>

<!--<ul class="heroes" >
  <li *ngFor="let hero of heroes" 
            [class.selected]="hero === selectedHero"  (click)="onSelect(hero)" >
      <span class="badge">{{hero.numeroDocumento}}</span>
       {{hero.nombres}}
  </li>
</ul> -->

<ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.numeroDocumento}}">
        <span class="badge">{{hero.numeroDocumento}}</span> {{hero.nombres}}
      </a>
    </li>
  </ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.nombres | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedHero.numeroDocumento}}</div>
  <div>
    <label>Nombre:
      <input [(ngModel)]="selectedHero.nombres" placeholder="name">
    </label>
  </div>
</div>